.container-border{
  position: absolute;
  position: relative;
  top: -16px;
  left: -8px;
}
.line{
    height: 39px;
    width:1230px;
    background-color: rgb(17, 17, 17);
    bottom: unset;
}
.nav-pills{
    display: flex;
    list-style-type: none;
    margin-left: 250px;
}
.list{
    padding: 10px;
    font-size: 11px;
    margin-top: 0.7rem;
    font-family: arial;
}
.list a{
    text-decoration: none;
    color: white;
}
.container-box{
    height: 290px;
    width: 1230px;
    background-color: rgb(46, 43, 54);
    position: relative;
    position: absolute;
}
.box2{
    height: 230px;
    width: 470px;
    background-color: rgb(255, 255, 255);
    position: relative;
    left: 380px;
    top: 135px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}

.box3{
    height: 140px;
    width: 460px;
    left: 382px;
    padding: 3px;
    border: 0.01px solid rgb(132, 126, 126);
    position: relative;
    top: 150px;
    text-align: center;
}
.heading{
    align-items: center;
    position: absolute;
   margin-left: 395px;
   color: white;
   font-family:Arial;
   font-size: 30px;
}
.text1{
    padding: 60px 370px;
    color: white;
    font-size: 12px;
    font-family:Arial;
  }
.text1 a{
  color: rgb(10, 132, 220);
}
.icon{
  position: absolute;
  margin-top: 2px;
}
.icon-1{
  position: relative;
  position: absolute;
  margin-left: 305px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.icon-2{
    position: relative;
    position: absolute;
    margin-left: 368px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .icon-3{
    position: relative;
    position: absolute;
    margin-left: 455px;
    height: 18px;
    width: 20px;
    cursor: pointer;
  }
  .icon-4{
    position: relative;
    position: absolute;
    margin-left: 540px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .icon-5{
    position: relative;
    position: absolute;
    margin-left: 620px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .icon-6{
    position: relative;
    position: absolute;
    margin-left: 690px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .icon-7{
    position: relative;
    position: absolute;
    margin-left: 765px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .icon-8{
    position: relative;
    position: absolute;
    margin-left: 875px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .tap{
    position: relative;
    position: absolute;
    margin: 0px -48px;
    height: 30px;
    width: 95px;
    background-color: rgb(129, 176, 59);
    border-inline-style: none;
    border: 0cap;
    border-radius: 2px;
    font-size: 11px;
  }
  .tap a{
    text-decoration: none;
    color: white;
  }
  #user-img{
    border: 1px solid black;
    height: 100px;
    width: 100px;
    position: relative;
    position: absolute;
    margin: 10px 180px;
    border-radius: 50%;
  }
  .text-2{
    margin:0px 190px ;
    position: relative;
    position: absolute;
    font-size: 9px;
  }
  .box3 h2{
    font-size: 10px;

  }
  .service{
    font-size: 12px;
  }
  #icon-1{
    height: 30px;
    width: 30px;
    margin: 180px 90px;

  }
  #icon-2{
    height: 29px;
    width: 25px;
    margin: 180px -70px;
  }
  
  #icon-3{
    height: 27px;
    width: 27px;
    margin: 180px 90px;
  }
  
  #icon-4{
    height: 28px;
    width: 30px;
    margin: 180px -70px;
  }
  
  #icon-5{
    height: 28px;
    width: 27px;
    margin: 180px 90px;
  }
  
  #icon-6{
    height: 26px;
    width: 28px;
    margin: 180px -70px;
  }
  .box2-name{
    position: relative;
    position: absolute;
   top: 100px;
   left: 150px;
  }
  